html, body, #root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 10px;
  font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.search {
  transition: 0.3s all;
  margin: 0px auto;

  form {
    width: 100%;

    input {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      outline: 0;
      border: 1px solid #dddddd;
      font-size: 14px;
      color: #333;

      &:focus, &:hover {
        border: 1px solid #63B8FF;
      }
    }
  }
}

.dataList {
  margin: 10px auto;
  transition: 0.3s all;
  word-wrap: break-word;

  .tip {
    display: block;
    font-size: 10px;
    color: #999;

    span {
      color: #63B8FF;
    }
  }

  .item {
    margin: 20px 0;

    .label {
      color: #15323a;
      font-weight: 500;
    }

    .excerpt {
      color: #777;
    }

    .muted {
      color: #bbb;
    }

    .left {
      float: left;
      width: 30px;
      height: 30px;
      border: 1px solid #eee;
      border-radius: 100%;
      text-align: center;
      line-height: 30px;
    }

    .right {
      margin-left: 40px;
      width: calc(100% - 40px);
    }

    .blog {
      border: 1px solid #0078DB;
      color: #0078DB;
    }

    .qa {
      border: 1px solid rgb(241, 123, 136);
      color: rgb(241, 123, 136);
    }

    .qa-fixed {
      border: 1px solid #008151;
      color: #008151;
    }
  }
}
@media screen and (min-width: 0px) {
  .search {
    width: 90%;
    padding: 20px 0;
  }
  .dataList {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .search {
    width: 60%;
    padding: 40px 0 20px;
  }
  .dataList {
    width: 60%;
  }
}
